.body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #F7F7F7;
}

.section {
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}


/* Header */
.header {
    padding: 1em 2.5em;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}
.logo__text {
    font-size: .5em;
    border-left: 1px solid #c4c4c4;
    margin-left: 1em;
    padding: .25em 0 .25em 1em;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    padding-top: .625em;
    line-height: 1.6;
}
.menu__item {
    text-decoration: none;
    color: #000;
    margin: 0 1.125em;
}


.actions__button {
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin-left: .675em;
}
.actions__button:first-of-type {
    margin-left: 0;
}

.actions__count {
    position: absolute;
    font-size: .5em;
    top: .125em;
    right: -.125em;
    padding: 0 .5em;
    color: #fff;
    border-radius: 50%;
}

.actions__button--favorites .actions__count {
    background: #E55039;
}
.actions__button--cart .actions__count {
    background: #26251C;
}

h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.075;
    max-width: 70%;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: 1.2;
    max-width: 8em;
    margin: 1.3em 0;
}
h3 {
    margin: .7em 0 .4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.485em;
}

/* Article */
.article {
    padding: 0 2.5em 2.5em;
}



.article__cover {
    margin: 2em 0;
}
.article__text {
    display: flex;
    justify-content: space-between;
    margin: .75em 0 1.25em;
}
.article__text__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article__text__column--first {
    flex: 1;
}
.article__text__column--second {
    flex: .97;
    margin-left: 1em;
}
.article__text__paragraph {
    line-height: 1.4;
    margin: 0 0 1.25em;
}
.article__text__paragraph--bold {
    font-weight: bold;
}
.article__text__paragraph:last-of-type {
    margin-bottom: 0;
}

/* Address */
.address-container {
    background: #fff;
}
.address {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    padding: 2.25em 0;
}
.address__info {
    flex: 1;
    padding: 0 2.5em;
}
.address__map {
    position: relative;
    flex: 1.12;
    background: url('map.png') no-repeat center center;
    background-size: contain;
    height: 38.5em;
}
.address__map__text {
    position: absolute;
    font-size: 1.24em;
    width: 100%;
    text-align: center;
    top: 9.35em;
    left: .4em;
}
.address__map__text__inner {
    background: #fff;
    padding: .75em;
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1.25em rgba(0, 0, 0, .25);
    backdrop-filter: blur(.625em);
    border-radius: .375em;
}


.address__heading__city {
    font: inherit;
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.address__heading__city option{
    color: #000;
}

.address__lines {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: .25em;
    display: block;
}
.address__line {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
}
.address__line:last-of-type {
    margin-bottom: 0;
}

.address__line__icon {
    width: 1.5em;
    margin-right: .625em;
}
.address__line__text {
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.socials {
    margin-top: 3.5em;
}
.socials__item {
    text-decoration: none;
    margin-right: 1.25em;
    width: 3.75em;
    height: 3.75em;
    background: #dadada;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}
.socials__item--vk:hover {
    background: #4C6C91;
}
.socials__item--ok:hover {
    background: #F68634;
}
.socials__item--tg:hover {
    background: #37AEE2;
}

.socials__item__icon {
   height: 2.875em;
}

.copyright {
    font-size: 1.25em;
    margin-top: 5em;

}